*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@media screen and (min-width: 900px) {
    body {
        /* width: 100dvw; */
        height: 100dvh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-inline: 25%;
    }
}

@media screen and (max-width: 899px) {
    body {
        /* width: 100%; */
        height: 100dvh;
        background-color: blue;
    }
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

/* app-navigation {
    width: 
} */
