<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="navbar">
    <div class="dropdown" id="checking-savings-dropdown">
        <button class="dropdown-title">{{ checkingSavings }} <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a routerLink="#">Checking and Debit</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-title">{{ services }} <i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Widhdraw Funds</a>
            <a href="#">Transfer Funds</a>
        </div>
    </div>
</div>

